<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.filesystem.dao.mapper.DepartmentMapper">
    <resultMap id="BaseResultMap" type="com.example.filesystem.model.po.Department">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="department_type" property="departmentType" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <select id="selectAllDepartment" resultMap="BaseResultMap">
        SELECT *
        FROM department
        order by create_time asc
    </select>

    <select id="selectDepartmentDTO" parameterType="java.lang.String" resultType="com.example.filesystem.model.dto.DepartmentDTO">
        select department_type AS department, id as id
        from department
        <where>
            <if test="content != null and content != ''">
                AND department_type like CONCAT('%',#{content},'%')
            </if>
        </where>
        order by create_time asc
    </select>

    <update id="updateDepartment" parameterType="com.example.filesystem.model.po.Department">
        update department
        <set>
            <if test="departmentType != null">
                department_type = #{departmentType},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
        </set>
        where id = #{id}
    </update>

    <insert id="insertDepartment" parameterType="com.example.filesystem.model.po.Department">
        insert into department
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null and id != ''">
                id,
            </if>
            <if test="departmentType != null">
                department_type,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null and id != ''">
                #{id},
            </if>
            <if test="departmentType != null">
                #{departmentType},
            </if>
            <if test="createTime != null">
                #{createTime},
            </if>
        </trim>
    </insert>

    <delete id="deleteDepartment" parameterType="java.lang.Integer">
        delete
        from department
        where id = #{id}
    </delete>
</mapper>